/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #679CF7;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    color: #49454F; /* メニューアイコンの色を変更 */
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #679CF7;
    padding: 0;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

.navbar a.active {
    font-weight: bold;
}

#map {
    height: calc(100vh - 110px); /* ヘッダーとメニューを除いた高さに設定 */
    width: 100%;
}

.search-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #679CF7;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.searchbar {
    display: none;
    position: fixed;
    top: 83%; /* 上から50%の位置 */
    left: 50%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 自身のサイズ分だけ中央に配置 */
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* メニューやマップの上に表示 */
}

.searchbar input {
    width: 295px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.searchbar button {
    background-color: #679CF7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"] {
    font-size: 16px; /* フォントサイズを16px以上に設定 */
}

.menu-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-page.show {
    opacity: 1;
    transform: translateY(0);
}

.menu-page.hide {
    opacity: 0;
    transform: translateY(-100%);
}

.menu-page-content {
    background-color: white;
    width: 50%;
    margin: 0;
    padding: 20px;
    border-radius: 0px 0px 0px 8px;
    position: fixed;
    top: 0px; /* 画面上部からの位置 */
    right: 0px; /* 画面右からの位置 */
}

.menu-page-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-page-navbar a {
    color: #679CF7;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001; /* 閉じるボタンを最前面に表示 */
}

/* デフォルトの閉じるボタンを非表示にする */
.gm-ui-hover-effect {
    display: none !important;
}

a {
    text-decoration: none; /* 下線を削除 */
    color: black; /* 文字色を黒に設定 */
    border: none; /* 枠線を削除 */
    outline: none; /* フォーカス時の枠線を削除 */
}
